<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <a class="nodecoration" href="{{site.baseurl}}/">
      <img src="favicon.png" width="50px" alt="JA Living Spaces" />
      <span class="fw-bold">J.A Living Spaces</span>
    </a>
    <div class="text-right mx-auto">
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarsExample10"
        aria-controls="navbarsExample10"
        aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div
        class="collapse navbar-collapse justify-content-md-center"
        id="navbarsExample10">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a
              class="nav-link active"
              aria-current="page"
              href="{{site.baseurl}}/"
              >Home</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" onclick="contactus()"
              >Contact</a
            >
            <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
            <script src="js/script.js"></script>
          </li>

          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle active"
              href="{{site.baseurl}}/#"
              id="dropdown10"
              data-bs-toggle="dropdown"
              aria-expanded="false"
              >Services</a
            >
            <ul class="dropdown-menu" aria-labelledby="dropdown10">
              <li>
                <a class="dropdown-item" href="{{site.baseurl}}/management.html"
                  ><i class="bi bi-house-door"></i> Property Management</a
                >
              </li>
              <li>
                <a class="dropdown-item" href="{{site.baseurl}}/#construction"
                  ><i class="bi bi-house-door"></i> Construction</a
                >
              </li>
              <li>
                <a class="dropdown-item" href="{{site.baseurl}}/#interiordesign"
                  ><i class="bi bi-lightbulb"></i> Interior design & Setups</a
                >
              </li>
              <li>
                <a class="dropdown-item" href="{{site.baseurl}}/#exteriordesign"
                  ><i class="bi bi-lightbulb"></i> Outdoor Living Solutions</a
                >
              </li>
              <li>
                <a class="dropdown-item" href="{{site.baseurl}}/#signature"
                  ><i class="bi bi-wrench-adjustable"></i> J.A Signature
                  Fit-ins</a
                >
              </li>
              <li>
                <a class="dropdown-item" href="{{site.baseurl}}/#remodel"
                  ><i class="bi bi-tools"></i> Building renovations & remodel</a
                >
              </li>
            </ul>
          </li>

          <li class="nav-item">
            <a class="nav-link active" href="{{site.baseurl}}/clients.html"
              >Clients</a
            >
          </li>
          <!---------------
          <li class="nav-item">
            <a class="nav-link active" onclick="getprojects()">Projects</a>
          </li>
          -------------->
        </ul>
      </div>
    </div>
  </nav>
</header>
